@import "settings/all";

@import "tools/all";

@import "trumps/trumps.helpers";

@import "generic/generic.box-sizing";
@import "generic/generic.reset";
@import "generic/generic.shared";

@import "elements/elements.page";

@import "objects/objects.wrapper";

@import "components/components.nav";
@import "components/components.button";
@import "components/components.section";
@import "components/components.list";
@import "components/components.footer";

@import "scopes/scopes.article";

@import "syntax";

body {
  font-family: "Rubik", sans-serif;
}

@media (min-width: 1000px) {
  body.with-offset {
    padding-left: 310px;
  }
}

.c-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 175px;
  text-align: center;
  padding: 1rem;
  color: #fff;
  background: #27739a url("../img/hero-bg.png");
  background-blend-mode: multiply;

  @media (min-width: 1000px) {
    min-height: 320px;
  }
}

.c-header--full {
  .c-header__byline {
    margin-bottom: 1rem;
  }

  .c-button {
    min-width: 160px;
    align-self: center;
  }
}

.c-header__title {
  color: inherit;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5rem;

  @media (min-width: 1000px) {
    font-size: 36px;
    margin-bottom: 1.5rem;
  }
}

.c-header__subline {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.c-header__byline {
  font-size: 14px;

  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
    border: 1px solid #fff;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

aside {
  

  h2 {
    margin: 1rem 0 0 1rem;
    color: $color-brand-primary;
    font-size: 20px;
  }

  @media (min-width: 1000px) {
    background: #eff4f7;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 310px;
    overflow-y: scroll;
  }

  @media (max-width: 999px) {
    max-width: 750px;
    margin: 0 auto;
    padding: 1rem 1rem 0;

    h2 {
      display: none;
    }

    .c-nav {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #eff4f7;
      overflow-y: scroll;
      padding-top: 1rem;

      &.is-active {
        display: block;
      }
    }
  }
}

.content {
  max-width: 750px;
  margin: 0 auto;
  padding: 1rem;
}

.content img {
  display: block;
  max-width: 100%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.07);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}