///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

// Color palette.
$color-brand-primary:               #27739a;
$color-brand-secondary:             #eafdfc;

$color-black:                       #555555;
$color-grey:                        #737373;
$color-grey-light:                  #d8d8d8;
$color-grey-medium:                 #f6f6f6;
$color-white:                       #fff;
$color-warning:                     #c54242;


// Reassign literal variables to meaningful ones.
