// Colors
$primary: #4ea7ea;
$black: #4D4D4F;
$grey: #737373;

// Typography
$base-line-height: 1.45;
$base-font-family: 'Rubik';
$base-font-weight: 400;
$base-font-size: 16px;
$font-weight-regular: 300;
$font-weight-bold: 700;


