---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<header class="c-header c-header--full">
    <h1 class="c-header__title">RTL Styling 101</h1>
    <p class="c-header__subline">
    An extensive guide on how to style for RTL in CSS
    </p>
    <p class="c-header__byline"><a href="https://ishadeed.com/">By <img src="../../img/shadeed.jpg" alt="" /> Ahmad Shadeed</a></p>
    <a href="/posts/rtl-styling" class="c-button">Read The Guide</a>
</header>