---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<header class="c-header c-header--full">
    <h1 class="c-header__title">RTL Styling 101</h1>
    <p class="c-header__subline">
    An extensive guide on how to style for RTL in CSS
    </p>
    <a href="/posts/rtl-styling" class="c-button">Read The Guide</a>
</header>

<section class="c-section">
    <div class="o-wrapper">
      <h2>Things to do</h2>
      <ul class="c-list">
        <li class="c-list__item">Revisit mixed English and Arabic content</li>
        <li class="c-list__item">Update text opacity section</li>
        <li class="c-list__item">Fix some typos in the guide images</li>
        <li class="c-list__item">Add a section about blockquotes</li>
        <li class="c-list__item">Lazy load the images</li>
        <li class="c-list__item">Activate the current section in the sidebar</li>
        <li class="c-list__item">RTL for CSS in JS (React, Vue)</li>
        <li class="c-list__item">Revisit text underline and a11y</li>
      </ul>
    </div>
</section>

<section class="c-section u-bg-light">
  <div class="o-wrapper">
    <h2>Issues</h2>
    <p class="u-push-bottom">Have you noticed any issues in the guide? Like a typo, CSS Bug.. etc? Please feel free to open an issue. I created a dedicated repo for the issues only.</p>
    <p><a href="https://github.com/shadeed/rtl-styling-issues/issues/new" target="_blank" class="c-button c-button--outline">Open an Issue</a></p>
  </div>
</section>

<section class="c-section">
  <div class="o-wrapper">
    <h2>Contributions</h2>
    <p>If you are interested in contributing to this guide, I appreciate that. I'm planning to open source the guide soon. Please keep an eye on this section.</p>
  </div>
</section>

<section class="c-section u-bg-light">
  <div class="o-wrapper">
    <h2>Contact me</h2>
    <p>I'll be happy to hear from you. If you have a suggestion, or you want to hire me for your Front End project that requires RTL work, I'm all ears. My email is shadeed9[at]gmail[dot]com</p>
  </div>
</section>

<div class="o-wrapper">
  <footer class="c-footer">
    <p>Made by <a href="https://twitter.com/shadeed9">Ahmad Shadeed</a></p>
    <p>Built with Netlify and Eleventy</p>
  </footer>
</div>