///*----------------------------------*\
//  #MQ
//\*----------------------------------*/

///
// Pre-configuration for Sass MQ.
 //

$mq-breakpoints: (
  tiny: 480px,
  small: 768px,
  medium: 928px,
  large: 1200px,
);
