///*----------------------------------*\
//  #ALIASES
//\*----------------------------------*/

// Map some nicer/shorter aliases to make things a little easier to work with.

$unit:        $global-spacing-unit;
$unit-tiny:   $global-spacing-unit-tiny;
$unit-small:  $global-spacing-unit-small;
$unit-large:  $global-spacing-unit-large;
$unit-huge:   $global-spacing-unit-huge;
