.c-nav {
	padding: 1rem 2rem 1rem;
	line-height: 1.65;

	a {
		font-size: 15px;
		color: $color-black;
		text-decoration: none;

		&:hover {
			color: $color-brand-primary;
		}

		&.current {
			font-weight: bold;
			color: red;
		}
	}

	li ul {
		margin-left: 1.5rem;
	}
}

.c-nav__item {
	li,
	ul {
		a {
			font-size: 14px;
		}
	}
}

.direct-link {
	color: $color-brand-primary;

	&:hover {
		opacity: 0.6;
	}
}

.c-button {
	appearance: none;
	background: #1d92d5;
    color: #fff;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border: 0;
	border-radius: 100px;
	text-decoration: none;
	transition: 0.3s ease-out;

	&:hover {
		background: darken(#1d92d5, 5%);
		box-shadow: 0 3px 15px 0 rgba(#000, 0.25);
	}
}

.c-nav__open,
.c-nav__close {
	display: block;
	width: 100%;
	
	@media (min-width: 1000px) {
		display: none;
	}
}

.c-nav__close {
	margin-bottom: 1rem;	
}

.c-link--light {
	color: #fff;
}

.u-push-bottom {
	margin-bottom: 1rem;
}