.c-list {
    columns: 2 400px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.c-list__item {

    // &:before {
    //     content: "";
    //     display: inline-block;
    //     vertical-align: middle;
    //     width: 14px;
    //     height: 14px;
    //     border: 2px solid #ccc;
    //     margin-right: 0.5rem;
    // }

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}