.c-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-size: 0.85rem;

    @media (max-width: 700px) {
        justify-content: center;

        p:first-child {
            margin-bottom: 1rem;
        }
    }

    a {
        color: darken(#1d92d5, 10%);

        &:hover {
            color: darkem(#1d92d5, 20%);
        }
    }
}