.c-nav {
	padding: 1rem 2rem 1rem;
	line-height: 1.65;

	a {
		font-size: 1rem;
		color: $color-black;
		text-decoration: none;

		&:hover {
			color: $color-brand-primary;
		}
	}

	li ul {
		margin-left: 1.5rem;
	}
}

.direct-link {
	color: $color-brand-primary;

	&:hover {
		opacity: 0.6;
	}
}