.c-footer {
    align-items: center;
    padding: 1rem 0;
    font-size: 0.85rem;

    p:first-child {
        margin-bottom: 1rem;
    }

    @media (min-width: 370px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p:first-child {
            margin-right: 1rem;
            margin-bottom: 0;
        }
    }

    a {
        color: darken(#1d92d5, 10%);

        &:hover {
            color: darkem(#1d92d5, 20%);
        }
    }
}