/*------------------------------------*\
  #PAGE
\*------------------------------------*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

html {
    font-size: ($global-font-size / 16px) * 1em;
    line-height: $global-line-height / $global-font-size;
    @include font-family(base);
    //scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (prefers-color-scheme: dark) {
        background-color: var(--bg-color-page);
    }
}
