<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="Right-to-left Styling">
    <meta property="og:title" content="Right to Left Styling 101">
    <meta property="og:description" content="An extensive guide on how to style for RTL in CSS">
    <meta property="og:image" content="http://rtlstyling.com/img/thumb.jpg">
    <meta property="og:url" content="https://www.rtlstyling.com/">

    <meta name="twitter:title" content="Right to Left Styling 101">
    <meta name="twitter:description" content="An extensive guide on how to style for RTL in CSS">
    <meta name="twitter:image" content="http://rtlstyling.com/img/thumb.jpg">
    <meta name="twitter:card" content="An extensive guide on how to style for RTL in CSS">
    <meta name="twitter:url" content="https://www.rtlstyling.com/" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42479265-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-42479265-3');
    </script>

  </head>
  <body>

    {{ content | safe }}

  </body>
</html>
